#title {
    position: absolute;
    width: 85%;
    height: 100px;
    top: 150px;

    background-color: white;

    font-size: 75px;
    text-align: center;
    line-height: 125%;
}

#colorGame {
    position: absolute;
    width: 85%;
    height: 150px;
    top: 300px;

    background-color: white;
}

#colorsImg {
    position: absolute;
    top: 10px;
    left: 10px;
}