#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#simonGame {
    position: absolute;
    top: 10%;
    left: 17.5%;
    width: 65%;
    height: 40%;

}

#simonImg {
    position: absolute;
    border-radius: 50%;
    height: 90%;
    top: 5%;
}

#simonTitle {
    position: absolute;
    top: 5%;

    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(169, 169, 169);
}

#simonDescription {
    position: absolute;
    top: 25%;

    font-weight: bold;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(169, 169, 169);
}