#homeButton {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 30px;
    border: none;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    background-color: rgb(169, 169, 169);
}

#homeButton:hover {
    font-weight: bold;
    font-size: 22px;
}

#homeButton:active {
    font-size: 22px;
    font-weight: normal;
}

#APIButtonBack {
    position: absolute;
    position: absolute;
    left: 20px;
    top: 150px;
    height: 50px;
    width: 100%;

    background-color: rgb(169, 169, 169);
}

#APIButton {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    border: none;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    transition-duration: .1s;

    background-color: rgb(169, 169, 169);
}

#APIButton:hover {
    font-weight: bold;
    font-size: 22px;
}

#APIButton:active {
    font-size: 22px;
    font-weight: normal;
}