#playGame {
    position: absolute;
    top: 190px;
    left: 20px;
    height: 30px;
    border: none;

    display: none;
    
}

#playGameTitle {
    position: absolute;
    top: 110px;
    left: 25px;
    height: 30px;
    border: none;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    background-color: rgb(169, 169, 169);
}

#playGameTitle:hover {
    font-weight: bold;
    font-size: 22px;
}

#playGameTitle:active {
    font-size: 22px;
    font-weight: normal;
}

#playGameLabel {
    position: absolute;
    top: 110px;
    right: 40px;
    height: 30px;
    border: none;

    transform: rotate(-90deg);
    transition-duration: .1s;
}

#playGameLabel:active {
    transform: rotate(0deg);
    transition-duration: 1s;
}

#playGameMenu {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 100px;
    display: none;

}

#guessColor {
    position: absolute;
    top: 145px;
    border: none;

    font-size: 17.5px;
    font-family: 'Courier New', Courier, monospace;

    background-color: rgb(169, 169, 169);
}

#guessColor:hover {
    font-weight: bold;
    font-size: 19.5px;
}

#guessColor:active {
    font-size: 19.5px;
    font-weight: normal;
}

#simon {
    position: absolute;
    top: 270px;
    border: none;

    font-size: 17.5px;
    font-family: 'Courier New', Courier, monospace;

    background-color: rgb(169, 169, 169);
}

#simon:hover {
    font-weight: bold;
    font-size: 19.5px;
}

#simon:active {
    font-size: 19.5px;
    font-weight: normal;
}