#header {
	position: fixed;
	width: 80%;
	height: 130px;
	top: 0;

	z-index: 1;
	background-color: lightgray;
}

#logo {
	position: absolute;
	height: 90%;
	top: 5%;
	left: 5%;
}

#buttons {
	position: absolute;
	top: 50%;
	height: 90%;
}


#homePage {
	position: absolute;
	width: 15vw;
	height: 65%;
	top: 15%;
	left: 35%;
	
	background-color: rgb(180, 216, 220);
}

#homePage:hover {
	background-color: rgb(160, 196, 200);
}

#homePage:active {
	background-color: rgb(140, 176, 180);
}

#gamePage {
	position: absolute;
	width: 15vw;
	height: 65%;
	top: 15%;
	left: 60%;
	
	background-color: rgb(180, 216, 220);
}

#gamePage:hover {
	background-color: rgb(160, 196, 200);
}

#gamePage:active {
	background-color: rgb(140, 176, 180);
}


.center {
	width: 50%;
	border: 3px solid;
	z-index: 1000;
}

#game {
	font-weight: bold;
}
