#jokeAPI {
    position: absolute;
    width: 85%;
    height: 250px;
    top: 600px;

    background-color: white;
}

#jokeTitleDIV {
    position: absolute;
    top: 0px;
    text-align: center;
}

#jokeTitle {
    text-align: center;
    font-size: 40px;
}

#category {
    position: absolute;
}

#safeMode {
    position: absolute;
}

#type {
    position: absolute;
}