#title {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 150px;

    background-color: white;

    font-size: 75px;
    text-align: center;
    line-height: 125%;
}

#passwordAPI {
    position: absolute;
    width: 85%;
    height: 210px;
    top: 300px;

    background-color: white;
}

#APIOutput {
    color: black;
}