#content {
    position: absolute;
    top: 0px;
    height: 100vh
}

#nameAPI {
    position: absolute;
    top: 10%;
    left: 17.5%;
    width: 65%;
    height: 40%;
}

#nameTitle {
    position: absolute;
    top: 0px;
    text-align: center;
}


#yourName {
    position: absolute;
}

#useNameAPI {
    position: absolute;
    width: 10%;

    background-color: rgb(180, 216, 220);
}

#useNameAPI:hover {
    background-color: rgb(160, 196, 200);
}

#useNameAPI:active {
    background-color: rgb(140, 176, 180);
}

#nameAPIOutput {
    position: absolute;
    display: none;
    font-weight: bold;
}

#nameAPIOutputERR {
    position: absolute;
    display: none;
    font-weight: bold;
}